

<main class="container-fluid">
    <h1>Add New Item</h1>
    <form>
        
        <div class="row">
            <div class="form-group col-md-4">
                <label for="Item">Item</label>
                <input type="text" class="form-control" name ="Item" id="Item" placeholder="Item">
            </div>
        </div>
      
        
        <div class="row">
            <div class="form-group col-md-4">
                <label for="Category">Category</label>
                <input type="text" class="form-control" name="Category" id="Category" placeholder="Books...">
            </div>
        </div>
     
        <div class="row">
            <div class="form-group col-md-4">
                <label for="LendDate">Date Lended</label>
                <input type="date" class="form-control" id="LendDate" name="LendDate">
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-4">
                <label for="Contact">Contact</label>
                <select id="Contact" name ="Contact"class="form-control">
                    <option selected>Choose...</option>
                    <option>Contact1</option>
                    <option>Contact2</option>
                </select>
            </div>
        </div>

        <div class="row col-md-4">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>

</main>